body{
    padding: 0;
    margin: 0;
    background-color: rgb(246, 241, 236);
}
.firstsection{
    display: none;
}

/* navbar navbar navbar  */
.closebtn, .btn{
    display: none;
}

.real .sortdown{
    float: right;
    margin-right: 1%;
    border-radius: 30px;
}
.real #plus,
.real #mplus,
.real #wplus{
    float: right;
    /* margin-left: -360px */
    /* float: right; */
    margin-right: -65%;
    /* margin-top: -6px; */
}

.fa-plus{
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(204, 196, 196, 0.281);
    border-radius: 25px;
    /* width: 20px; */
    padding: 4px 4px 4px 4px;
}

.fa-sort-down{
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(204, 196, 196, 0.368);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    /* margin-bottom: 8px; */
    padding: 0px 0px 6px 0px;
}



.sidenav{
    width: 14%;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    border-radius: 0%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    color:black;
    display: flex;
    z-index: 1;
    top: 0;
    left: 0;
    scrollbar-width: 1px;
    scrollbar-color: #0b53d9 transparent;
    box-shadow: 0px 0px 20px rgba(1, 19, 50, 0.1);
}

.sidenav-items{
    /* margin-top: 12%; */
    list-style: none;
    
}
.sidenav-items .first{
    /* margin-top: 20px; */
}
.sidenav-items a{
    text-decoration: none;
    color: black;
    display: block;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
}
.sidenav-items a p{
    color: black;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 5px; 
} 


.sidenav a:hover,
.sidenav a.active {
    color: rgb(242, 152, 49);
}

/* id id id  */
.id{
    /* border: 1px solid blue; */
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 60px;
    padding: 2px 2px;
    margin: auto;
    background-color: rgb(5, 8, 49);
}
.id h1{
    color: white;
    text-align: center;
    
}

.sidenav .name{
    text-align: center;
    color: black;
    font-size: 14px;
    font-family: cursive;
    /* margin-top: -210px; */
}
.sidenav .name i{
    font-size: 12px;
    padding-top: -162px;
}

.real{
    margin-left: 15%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 5px 8px rgb(63, 62, 62);
    padding-bottom: 30px;
    /* width: 100%; */
    /* border: 1px solid black; */
    /* height: 100%; */
}

/* open sidenav open sidenav  */
.fa-bars{
    color: white;
}

/* title and heading for tab-content  */
.title{
    color: white;
    margin-left: 2%;
}
.title h1{
    font-size: 25px;
    margin-left: 10px;
}

/* tabcontent tabcontent  */
.mytabcontent{
    display: block;
}

.right{
    float: right;
}

/* dashboard dashboard dashboard dashboard */
#display{
    /* background-color: rgb(235, 234, 234); */
}

/* activity activity activity activity  */
.login{
    /* float: right; */
    justify-content: end;
    text-align: end;
    margin: auto;
    margin-top: 10px;
}
.card{
    margin: 40px;
    border-radius: 10px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* color: white; */
    /* background-color: rgb(252, 249, 249); */
    border: 2px solid rgb(3, 3, 66);
}

.show .activity {
    font-size: 14px;
}
  
.show .activity .activity-item .activite-label {
    color: #605e5e;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 64px;
}
  
.show .activity .activity-item .activite-label::before {
    content: "";
    position: absolute;
    right: -11px;
    width: 4px;
    top: 0;
    bottom: 0;
    background-color: #eceefe;
}
  
.show .activity .activity-item .activity-badge {
    margin-top: 3px;
    z-index: 1;
    font-size: 11px;
    line-height: 0;
    border-radius: 50%;
    flex-shrink: 0;
    border: 3px solid #fff;
    flex-grow: 0;
}
  
.show .activity .activity-item .activity-content {
    padding-left: 10px;
    padding-bottom: 20px;
}

.show .activity .activity-item .activity-content a{
    text-decoration: none;
    color: black;
}
  
.show .activity .activity-item:first-child .activite-label::before {
    top: 5px;
}
  
.show .activity .activity-item:last-child .activity-content {
    padding-bottom: 0;
}

.fa-circle{
    font-size: 3px;
}



table{
    text-align: center;
}



/* view tasks view tasks view tasks view tasks view tasks view tasks view tasks view tasks */

.tablebg .tick:checked{
    color: #060606;
    background-color: #012970;
}

.head{
    background-color: rgb(103, 6, 6);
    padding: 8px;
    /* padding: 1px; */
}

.head h1{
    color: white;
    margin-left: 2%;
    padding: 2px;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-size: 24px;
}

.head .fa-sort-down{
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(204, 196, 196, 0.368);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    /* margin-bottom: 8px; */
    padding: 0px 0px 6px 0px;
}

#sortdown{
    margin-top: -30px;
    margin-left: 96%;
}

.tablebg .head{
    background-color: black;
    /* padding: 1px; */
}

.tablebg .head p{
    color: white;
    margin-left: 2%;
    padding: 2px;
    margin-bottom: 4px;
    font-size: 17px;
}

.tablebg .semes{
    background-color: rgb(2, 2, 103);
    /* padding-left: 5px; */
    /* padding: 1px; */
}

.tablebg .semes p{
    color: white;
    margin-left: 2%;
    padding: 2px;
    margin-bottom: 4px;
    font-size: 20px;
    text-transform: uppercase;
}

.tablebg .twop{
    margin-left: 90%;
    margin-top: -40px;
}

.tablebg{
    border-left: 1px solid black;
}


table .taskstab{
    text-align: justify;
}

table button{
    font-size: 14px;
    background-color: rgb(126, 125, 125);
    width: fit-content;
    border-radius: 5px;
    border: none;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

table .almost{
    background-color: rgb(255, 238, 0);
}

table .complete{
    background-color: green;
}

.table-responsive .table tr{
    width: 20px;
}



/* attendance attendance */

.navbar{
    height: fit-content;
    background-color: black;
    color: white;
}

.navbar a{
    color: white;
}

.navbar .nav-tabs{
    display: flex;
    /* justify-content: space-between; */
    /* margin: auto; */
    list-style-type: none;
    gap: 1rem;
}
.navbar .nav-tabs .nav-item{
    justify-content: space-between;
    margin: auto;
    /* background-color: rgb(2, 2, 112); */
    padding: 8px;
    border-radius: 10px;
}
nav .nav-tabs .nav-item a{
    color: navy;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar .nav-tabs .nav-item .active{
    padding: 0;
    animation: none;
    transform: none;
    background-color: none;
    background: none;
    color: rgb(242, 152, 49);
}

.navbar .nav-tabs .nav-item .active:hover{
    cursor: pointer;
    color: rgb(242, 152, 49);
    padding: 5px ;
    transform: none;
    /* background-color: rgb(252, 246, 246); */
}
.navbar .nav-tabs .nav-item:hover{
    color: rgb(242, 152, 49);
    padding: 5px;
    transform: none;
    /* background-color: rgb(252, 246, 246); */
}


/* title and heading for tab-content  */
.title{
    color: white;
    margin-left: 2%;
}
.title h1{
    font-size: 25px;
    margin-left: 10px;
}

#g101 .table{
    text-align: center;
}


/* search search  */
.search-bar{
    /* float: right; */
    margin: auto;
    margin-right: 1%;
}
.search-bar input{
    border: none;
    background: none;
    width: 210px;
}
.search-bar button{
    border: none;
    background: none;
    margin-left: -25px;
    /* z-index: 1; */
}
.search-bar form{
    border: 1px solid rgb(220, 15, 15);
    background-color: white;
    width: 210px;
    border-radius: 5px;
    margin-top: 5px;
}

/* work plan work plan  submitted form  */

/* work plan work plan  submitted form  */


.plus .form p{
    text-align: center;
    margin-top: 5px;
    font-size: 17px;
    font-weight: 600;
}
.form .form-group .col-5,
.filled .col-5{
    width: 50%;
}
.form .form-group label{
    width: 50%;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium';
}
.form .form-group input,
.form .form-group textarea,
.form .form-group select{
    width: 95%;
    height: 50%;
    /* box-shadow: 0px 1px 1px 0px rgb(63, 62, 62); */
    /* border-radius: 3px; */
    /* border: 2px solid black; */
}
.form .form-group .radio input{
    width: 30px;
    height: 18%;
}

.form .submit{
    margin-top: 50px;
}

.form .submit button{
    width: 100px;
    padding: 5px;
    border-radius: 8px;
}

.filled,
.form{
    margin-left: 1px;
}

.filled{
    background-color: #ecebeb;
    border-radius: 15px;
}

.filled .hero{
    width: 50%;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium';
}

.filled .heroin{
    width: 100%;
    /* height: 50%; */
}



/*  generate report generate report generate report */
 

.generate{
    background-color: rgb(1, 1, 103);
    /* text-align: end; */
    padding-top: 1px;
    padding: 1px;
}
.generate a{
    text-decoration: none;
    text-align: center;
    /* margin-top: 8px; */
    
}
.generate a p{
    color: white;
    margin-right: 3%;
    margin-top: 4px;
    font-size: 17px;
}

.fa-download{
    color: white;
    font-size: 21px;
    font-weight: bold;
    background-color: rgba(204, 200, 200, 0.281);
    border-radius: 25px;
    /* width: 20px; */
    padding: 6px 6px 6px 6px;
    margin-left: 5px;
    margin-bottom: -3px;
}

.plus .nav-content{
    padding: 5px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgb(63, 62, 62);
    /* transition: margin-top 4s; */
}
/* workplan and report */

/* only report */
#weekly #plus,
#monthly #plus{
    margin-left: -44%;
    margin-top: -6px;
}


.submit{
    /* margin-left: 450px; */
    text-align: center;
}
.submit button{
    text-align: center;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 5px;
    font-weight: bold;
}


/* view staff status view staff status  */
.choose .block{
    text-align: center;
    justify-content: center;
    margin: auto;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(3, 3, 50);
    height: 150px;
    margin-top: 6%;
}

.choose .block a{
    text-decoration: none;
    margin: auto;
}
.choose .block p{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 6%;
}


/* messages messages messages messages  */
#messages .navbar .nav-tabs,
#messages .navbar .nav-pills{
    display: flex;
    margin-right: 3%;
}


#messages nav .nav-tabs .nav-item a{
    color: rgb(236, 236, 252);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

#messages .navbar .nav-pills .nav-item .active{
    background-color: rgb(57, 55, 55);
    color: rgb(242, 152, 49);
}

#messages .navbar .nav-pills .nav-item .active:hover{
    cursor: pointer;
    color: rgb(242, 152, 49);
    /* padding: 5px ; */
    transform: none;
    /* background-color: rgb(252, 246, 246); */
}
#messages .navbar .nav-pills .nav-item:hover{
    color: rgb(242, 152, 49);
    /* padding: 5px; */
    transform: none;
    /* background-color: rgb(252, 246, 246); */
} 





/* send messages send messages send messages  */
#sendmsg{
    padding: 5px;
}
#sendmsg .navbar{
    background-color: transparent;
}
#sendmsg .select{
    /* float: left; */
    /* margin-left: -35%; */
}
#sendmsg .select p{
    font-weight: bold;
    font-size: 18px;
    color: black;
}

#sendmsg .nav-tabs .select{
    /* margin-top: 28px; */
}

#sendmsg .nav-tabs .one{
    margin-left: 25px;
}
#sendmsg .nav-tabs .nav-item{
    border: none;
    background: none;
}
#sendmsg .nav-tabs .nav-item input{
    font-weight: bold;
}


#sendmsg .navbar .nav-tabs{
    display: flex;
    /* justify-content: space-between; */
    /* margin: auto; */
    list-style-type: none;
    /* gap: 1rem; */
}
#sendmsg .navbar .nav-tabs .nav-item{
    justify-content: space-between;
    margin: auto;
    /* background-color: rgb(2, 2, 112); */
    padding: 8px;
    border-radius: 10px;
}
#sendmsg .nav-tabs .nav-item a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
#sendmsg .navbar .nav-tabs .nav-group{
    display: flex;
    /* margin-right: 1%; */
}
#sendmsg .nav-tabs .select{
    margin-top: 15px;
    margin-left: -18px;
}
#sendmsg .mytabcontent .tab-pane .textarea{
    width: 100%;
    /* height: 100%; */
}

#sendmsg .navbar .nav-tabs .nav-item .active{
    padding: 0;
    animation: none;
    transform: none;
    background-color: none;
    background: none;
    color: rgb(242, 152, 49);
}

#sendmsg .navbar .nav-tabs .nav-item .active:hover{
    cursor: pointer;
    color: rgb(108, 108, 108);
    padding: 5px ;
    transform: none;
}
#sendmsg .navbar .nav-tabs .nav-item:hover{
    padding: 5px; 
    transform: none;
    /* background-color: rgb(252, 246, 246); */
}

#sendmsg .main{
    padding: 5px;
    background-color: rgb(196, 192, 192);
    margin-top: 5px;
    border-radius: 10px;
    margin: 10px;
}
#pmsg .form-group .textarea{
    width: 100%;
}

/* view messages view messages view messages view messages view messages */
#viewmsg .msg-list{
    /* border-top: 8px solid rgb(248, 217, 179); */
    background-color: grey;
    padding: 5px;
}

#viewmsg .message-item{
    background-color: white;
    margin: 5px;
    border-radius: 10px;
}

#viewmsg .message-item .name{
    padding-top: 5px;
}
#viewmsg .msg-list .name h1,
#viewmsg .msg-list .name i{
    font-size: 15px;
    margin-left: 3%;
}

#viewmsg .msg-list .name span{
    font-size: 13px;
    margin-left: 3%;
}
#viewmsg .msg{
    padding: 5px;
    height: fit-content;
}
#viewmsg .msg p{
    text-align: justify;
    margin: 10px;
    margin-left: 3%;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#viewmsg .msg span{
    font-size: 12px;
    float: right;
    margin-right: 1%;
    margin-top: -1%;
}

/* outbox messages outbox messages outbox messages outbox messages outbox messages */
#outmsg .msg-list{
    background-color: grey;
    padding: 5px;
}

#outmsg .message-item{
    background-color: white;
    margin: 5px;
    border-radius: 10px;
}

#outmsg .message-item .name{
    padding-top: 5px;
}
#outmsg .msg-list .name h1,
#outmsg .msg-list .name i{
    font-size: 15px;
    margin-left: 3%;
}

#outmsg .msg-list .name span{
    font-size: 13px;
    margin-left: 3%;
}
#outmsg .msg{
    padding: 5px;
    height: fit-content;
}
#outmsg .msg p{
    text-align: justify;
    margin: 10px;
    margin-left: 3%;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#outmsg .msg span{
    font-size: 12px;
    float: right;
    margin-right: 1%;
    margin-top: -1%;
}


/* modal modal modal modal modal modal  */
.modal{
    margin-top: 5%;
}
.modal .modal-title{
    font-size: 20px;
}
.modal .update{
    text-align: center;
}

.modal .update button{
    border-radius: 5px;
    background-color: rgb(44, 43, 43);
    color: white;
    font-weight: 500;
}

.modal .update button a{
    text-decoration: none;
    color: white;
}

.modal .navbar{
    background-color: transparent;
}
.modal .select p{
    font-weight: 700;
    font-size: 18px;
    color: black;
}

.modal .nav-tabs .select{
    /* margin-top: 28px; */
}

.modal .nav-tabs .one{
    margin-left: 25px;
}
.modal .nav-tabs .nav-item{
    border: none;
    background: none;
}
.modal .nav-tabs .nav-item input{
    font-weight: bold;
}


.modal .navbar .nav-tabs{
    display: flex;
    /* list-style-type: none; */
    /* gap: 1rem; */
}
.modal .navbar .nav-tabs .nav-item{
    justify-content: space-between;
    margin: auto;
    padding: 8px;
    border-radius: 10px;
}
.modal .nav-tabs .nav-item a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.modal .navbar .nav-tabs .nav-group{
    display: flex;
    /* margin-right: 1%; */
}
.modal .nav-tabs .select{
    margin-top: 15px;
    margin-left: -18px;
}
.modal .mytabcontent .tab-pane .textarea{
    width: 100%;
    /* height: 100%; */
}

.modal .navbar .nav-tabs .nav-item .active{
    color: rgb(242, 152, 49);
}

.modal .navbar .nav-tabs .nav-item .active:hover{
    cursor: pointer;
    color: rgb(108, 108, 108);
    /* padding: 5px; */
}
.modal .navbar .nav-tabs .nav-item:hover{
    /* padding: 5px;  */
    transform: none;
    /* background-color: rgb(252, 246, 246); */
}

.modal .main{
    padding: 5px;
    background-color: rgb(196, 192, 192);
    margin-top: 5px;
    border-radius: 10px;
    margin: 10px;
}

.modal .tab-pane{
    padding-bottom: 0px;
}


@media only screen
and (max-width:319px){
    .sidenav,
    .tab-content{
        display: none;
    }
    .firstsection{
        display: flex;
        text-align: center;
        margin: auto;
        color: red;
        text-transform: uppercase;
        margin-top: 50%;
    }
    .firstsection h1{
        text-align: center;
        margin: auto;
        font-size: 20px;
    }
}


@media only screen
and (min-width:320px) and (max-width:375px){

    .btn{
        display: flex;
        border: none;
        margin-right: 2%;
    }
    .sidenav{
        width: 0;
        min-height: 100vh;
        border-bottom-right-radius: 0%;
        border-top-right-radius: 0%;
        position: fixed;
        top: 0;
        /* left: 0; */
        /* right: 0; */
        transition: .4s ease-in-out;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.8s;
        /* padding-top: 15px; */
        text-align: center;
        /* justify-content: center; */
    }

    .fa-bars{
        margin-top: -10px;
    }

    #main{
        transition: margin-right .5s;
        /* padding: 20px; */
    }

    .closebtn{
        display: flex;
        float: right;
        margin-top: 2%;
        margin-left: 80%;
        text-decoration: none;
        color: #012970;
    }

    /* id id id  */
    .id{
        /* border: 1px solid blue; */
        border-radius: 50px;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        width: 40px;
        padding: 8px 10px 4px 10px;
        margin: auto;
        background-color: rgb(5, 8, 49);
    }
    .id h1{
        color: white;
        text-align: center;
        font-size: 20px;
    }
    .sidenav-items a p{
        font-size: 13px;
    } 
    .sidenav span{
        font-size: 12px;
        /* float: right; */
        margin-right: -16%;
    }
    .real{
        margin-top: 0;
        margin-left: 0;
        /* background-color: white; */
        border-radius: 10px;

    }

    /* navbar for tab-content navbar for tab-content  */
    .title{
        text-align: left;
        margin-right: 120px;
    }
    .title h1{
        font-size: 18px;
    }

    

    /* dasboard dashboard dashboard dashboard  */
    .activeleft,
    .activeright{
        width: 80%;
        padding: 0;
    }

    /* view tasks view tasks view tasks  */
    .head{
        background-color: rgb(103, 6, 6);
        padding: 5px;
        /* padding: 1px; */
    }
    
    .head h1{
        color: white;
        margin-left: 2%;
        padding: 2px;
        margin-bottom: 4px;
        text-transform: uppercase;
        font-size: 22px;
    }
    
    .head .fa-sort-down{
        color: white;
        font-size: 30px;
        font-weight: bold;
        background-color: rgba(204, 196, 196, 0.368);
        border-radius: 10px;
        width: 20px;
        height: 20px;
        /* margin-bottom: 8px; */
        padding: 0px 0px 6px 0px;
    }
    
    #sortdown{
        margin-top: -30px;
        margin-left: 90%;
    }
    
    
    
    .tablebg .head p{
        color: white;
        margin-left: 2%;
        padding: 2px;
        margin-bottom: 4px;
        font-size: 15px;
    }
    
    
    .tablebg .semes p{
        color: white;
        margin-left: 2%;
        padding: 2px;
        margin-bottom: 4px;
        font-size: 17px;
        text-transform: uppercase;
    }
    
    .tablebg .twop{
        margin-left: 70%;
        margin-top: -33px;
    }


    /* attendance attendance  */
    

    #tasks .title{
        margin-right: 30%;
    }

    /* view staff status view staff status  */
    .choose .block{
        text-align: center;
        justify-content: center;
        margin: auto;
        border: 1px solid black;
        border-radius: 8px;
        background-color: rgb(3, 3, 50);
        height: 150px;
        margin-top: 13%;
    }

    .choose .block a{
        text-decoration: none;
        margin: auto;
    }
    .choose .block p{
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 20%;
    }

    /* plus and sortdown design */

    .real .sortdown{
        float: right;
        margin-right: 1%;
        border-radius: 30px;
    }
    .real #plus,
    .real #mplus,
    .real #wplus{
        float: right;
        /* margin-left: -360px */
        /* float: right; */
        margin-right: -3%;
        /* margin-top: -6px; */
    }
    
    .fa-plus{
        color: white;
        font-size: 20px;
        font-weight: bold;
        background-color: rgba(204, 196, 196, 0.281);
        border-radius: 25px;
        /* width: 20px; */
        padding: 4px 4px 4px 4px;
    }
    
    .fa-sort-down{
        color: white;
        font-size: 30px;
        font-weight: bold;
        background-color: rgba(204, 196, 196, 0.368);
        border-radius: 10px;
        width: 20px;
        height: 20px;
        /* margin-bottom: 8px; */
        padding: 0px 0px 6px 0px;
    }

    /* workplan and report form design  */
    .plus .form p{
        text-align: center;
        margin-top: 5px;
        font-size: 15px;
        font-weight: 600;
    }
    .plus .nav-content{
        margin: 1%;
        padding: 5px;
        background-color: white;
        border: 2px solid black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0px 5px 5px 0px rgb(63, 62, 62);
    } 

    .form .form-group .col-5,
    .filled .col-5{
        width: 50%;
    }
    .form .form-group label{
        width: 100%;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium';
        font-size: 14px;
    }


    .form .form-group input,
    .form .form-group textarea,
    .form .form-group select{
        width: 90%;
        height: 50%;
    }

    .form .form-group .radio input{
        width: 30px;
        height: 18%;
    }
    
    .form .submit{
        margin-top: 50px;
    }
    
    .form .submit button{
        width: 100px;
        padding: 5px;
        border-radius: 8px;
    }
    .form .mco label{
        font-size: 11px;
        font-weight: 500;
        width: 100%;
    }

    .form .attav label{
        font-size: 13px;
        font-weight: 500;
        width: 100%;
    }
    
    .filled,
    .form{
        margin: 2%;
    }
    
    .filled .hero{
        width: 100%;
        text-transform: uppercase;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium';
        font-size: 14px;
    }

    .filled .mco .hero{
        font-size: 13px;
        width: 100%;
        font-weight: 580;
    }
    
    .filled .heroin{
        width: 80%;
        font-size: 14px;
    }


    /* messsages messages messages messsages */
    #messages .title{
        text-align: left;
        margin-right: 10px;
    }
    #messages .navbar .nav-pills{
        /* display: block; */
        /* text-align: end; */
        margin: auto;
        margin-top: -3px;
        margin-right: 5px;
    }

    #messages .nav-pills .nav-item{
        margin-right: 2px;
        
    }

    #messages .nav-pills .nav-item a{
        text-decoration: none;
        font-size: 13px;
        font-weight: 500;
        padding: 3px;
        margin-left: 0;
    }

    
    
    #sendmsg .select p{
        font-weight: bold;
        font-size: 12px;
        color: black;
    }
    
    #sendmsg .nav-tabs .select{
        margin-top: 5px;
        margin-left: 3px; 
    }
    
    #sendmsg .nav-tabs .one{
        /* margin-left: -15px; */
    }

    #sendmsg .nav-tabs .item{
        margin-left: -35px;
    }
    
    #sendmsg .navbar .nav-tabs{
        padding: 0px;
    }
    
    #sendmsg .navbar .nav-tabs .nav-item{
        justify-content: none;
        margin: none;
        /* background-color: rgb(2, 2, 112); */
        padding: 0px;
        border-radius: 3px;
    }
    #sendmsg .nav-tabs .nav-item a{
        color: black;
        text-decoration: none;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }

    #sendmsg .navbar .nav-tabs .nav-group{
        margin-left: 80px;
        display: block;
        /* margin-right: 1%; */
    }

    
    #viewmsg .msg span,
    #outmsg .msg span{
        font-size: 12px;
        float: right;
        margin-right: 1%;
        margin-top: -4%;
    }



    
    
}

@media only screen
  and (min-width:375px) and (max-width:427px){
    .btn{
        display: flex;
        border: none;
        margin-right: 2%;
    }
    .sidenav{
        width: 0;
        min-height: 100vh;
        border-bottom-right-radius: 0%;
        border-top-right-radius: 0%;
        position: fixed;
        top: 0;
        /* left: 0; */
        /* right: 0; */
        transition: .4s ease-in-out;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.8s;
        /* padding-top: 15px; */
        text-align: center;
        /* justify-content: center; */
    }

    .fa-bars{
        margin-top: -10px;
    }

    #main{
        transition: margin-right .5s;
        /* padding: 20px; */
    }

    .closebtn{
        display: flex;
        float: right;
        margin-top: 2%;
        margin-left: 80%;
        text-decoration: none;
        color: #012970;
    }

    /* id id id  */
    .id{
        /* border: 1px solid blue; */
        border-radius: 50px;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        width: 40px;
        padding: 8px 10px 4px 10px;
        margin: auto;
        background-color: rgb(5, 8, 49);
    }
    .id h1{
        color: white;
        text-align: center;
        font-size: 20px;
    }
    .sidenav-items a p{
        font-size: 13px;
    } 
    .sidenav span{
        font-size: 12px;
        /* float: right; */
        margin-right: -16%;
    }
    .real{
        margin-top: 0;
        margin-left: 0;
        /* background-color: white; */
        border-radius: 10px;

    }

    /* navbar for tab-content navbar for tab-content  */
    /* navbar for tab-content navbar for tab-content  */
    .title{
        text-align: left;
        margin-right: 150px;
    }
    .title h1{
        font-size: 18px;
    }

    /* view tasks view tasks view tasks  */
    .head{
        background-color: rgb(103, 6, 6);
        padding: 5px;
        /* padding: 1px; */
    }
    
    .head h1{
        color: white;
        margin-left: 2%;
        padding: 2px;
        margin-bottom: 4px;
        text-transform: uppercase;
        font-size: 22px;
    }
    
    .head .fa-sort-down{
        color: white;
        font-size: 30px;
        font-weight: bold;
        background-color: rgba(204, 196, 196, 0.368);
        border-radius: 10px;
        width: 20px;
        height: 20px;
        /* margin-bottom: 8px; */
        padding: 0px 0px 6px 0px;
    }
    
    #sortdown{
        margin-top: -30px;
        margin-left: 90%;
    }
    
    
    
    .tablebg .head p{
        color: white;
        margin-left: 2%;
        padding: 2px;
        margin-bottom: 4px;
        font-size: 15px;
    }
    
    
    .tablebg .semes p{
        color: white;
        margin-left: 2%;
        padding: 2px;
        margin-bottom: 4px;
        font-size: 17px;
        text-transform: uppercase;
    }
    
    .tablebg .twop{
        margin-left: 70%;
        margin-top: -34px;
    }

    

    /* dasboard dashboard dashboard dashboard  */
    .activeleft,
    .activeright{
        width: 80%;
        padding: 0;
    }

    /* view staff status view staff status  */
    .choose .block{
        text-align: center;
        justify-content: center;
        margin: auto;
        border: 1px solid black;
        border-radius: 8px;
        background-color: rgb(3, 3, 50);
        height: 150px;
        margin-top: 13%;
    }

    .choose .block a{
        text-decoration: none;
        margin: auto;
    }
    .choose .block p{
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 18%;
    }

    /* attendance attendance  */
    #attendance{
        margin-top: 0px;
        border-right: 5px solid  white;
    }

    /* plus and sortdown design */
    .real .sortdown{
        float: right;
        margin-right: 1%;
        border-radius: 30px;
    }
    .real #plus,
    .real #mplus,
    .real #wplus{
        float: right;
        margin-right: -3%;
    }
    
    
    .fa-plus{
        color: white;
        font-size: 20px;
        font-weight: bold;
        background-color: rgba(204, 196, 196, 0.281);
        border-radius: 25px;
        /* width: 20px; */
        padding: 4px 4px 4px 4px;
        /* margin-top: 2px; */
        /* float: right; */
    }
    
    .fa-sort-down{
        color: white;
        font-size: 30px;
        font-weight: bold;
        background-color: rgba(204, 196, 196, 0.368);
        border-radius: 10px;
        width: 20px;
        height: 20px;
        /* margin-bottom: 8px; */
        padding: 0px 0px 6px 0px;
        /* margin-top: 2px; */
        /* float: right; */
    }

    /* workplan and report form design  */
    .plus .form p{
        text-align: center;
        margin-top: 5px;
        font-size: 15px;
        font-weight: 600;
    }
    .plus .nav-content{
        margin: 1%;
        padding: 5px;
        background-color: white;
        border: 2px solid black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0px 5px 5px 0px rgb(63, 62, 62);
    } 
    .form .form-group .col-5,
    .filled .col-5{
        width: 50%;
    }
    .form .form-group label{
        width: 100%;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium';
        font-size: 14px;
    }


    .form .form-group input,
    .form .form-group textarea,
    .form .form-group select{
        width: 90%;
        height: 50%;
        /* box-shadow: 0px 1px 1px 0px rgb(63, 62, 62); */
        /* border-radius: 3px; */
        /* border: 2px solid black; */
    }
    .form .form-group .radio input{
        width: 30px;
        height: 18%;
    }
    
    .form .submit{
        margin-top: 50px;
    }
    
    .form .submit button{
        width: 100px;
        padding: 5px;
        border-radius: 8px;
    }
    
    .filled,
    .form{
        margin: 2%;
    }
    
    .filled .hero{
        width: 100%;
        text-transform: uppercase;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium';
        font-size: 14px;
    }

    .filled .mco .hero{
        font-size: 13px;
        /* font-weight: 580; */
    }
    
    .filled .heroin{
        width: 80%;
        font-size: 14px;
        /* text-align: justify; */
        /* height: 50%; */
    }


    /* messsages messages messages messsages */
    #messages .title{
        text-align: left;
        margin-right: 10px;
    }
    #messages .navbar .nav-pills{
        /* display: block; */
        /* text-align: end; */
        margin: auto;
        margin-top: -3px;
        margin-right: 5px;
    }

    #messages .nav-pills .nav-item{
        margin-right: 2px;
        
    }

    #messages .nav-pills .nav-item a{
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        padding: 4px;
        margin-left: 0;
    }

    
    
    #sendmsg .select p{
        font-weight: bold;
        font-size: 12px;
        color: black;
    }
    
    #sendmsg .nav-tabs .select{
        margin-top: 5px;
        margin-left: 3px; 
    }
    
    #sendmsg .nav-tabs .one{
        /* margin-left: -15px; */
    }

    #sendmsg .nav-tabs .item{
        margin-left: -35px;
    }
    
    #sendmsg .navbar .nav-tabs{
        padding: 0px;
    }
    
    #sendmsg .navbar .nav-tabs .nav-item{
        justify-content: none;
        margin: none;
        /* background-color: rgb(2, 2, 112); */
        padding: 0px;
        border-radius: 3px;
    }
    #sendmsg .nav-tabs .nav-item a{
        color: black;
        text-decoration: none;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }

    #sendmsg .navbar .nav-tabs .nav-group{
        margin-left: 80px;
        display: block;
        /* margin-right: 1%; */
    }

    
    #viewmsg .msg span,
    #outmsg .msg span{
        font-size: 12px;
        float: right;
        margin-right: 1%;
        margin-top: -4%;
    }

}

@media only screen
  and (min-width:428px) and (max-width:768px){
    .btn{
        display: flex;
        border: none;
        margin-right: 4%;
    }
    .sidenav{
        width: 0;
        min-height: 100vh;
        border-bottom-right-radius: 0%;
        border-top-right-radius: 0%;
        position: fixed;
        top: 0;
        /* left: 0; */
        /* right: 0; */
        transition: .4s ease-in-out;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.8s;
        /* padding-top: 15px; */
        text-align: center;
        /* justify-content: center; */
    }

    .fa-bars{
        margin-top: -10px;
    }

    #main{
        transition: margin-right .5s;
        /* padding: 20px; */
    }

    .closebtn{
        display: flex;
        float: right;
        margin-top: 2%;
        margin-left: 80%;
        text-decoration: none;
        color: #012970;
    }

    /* id id id  */
    .id{
        /* border: 1px solid blue; */
        border-radius: 50px;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        width: 40px;
        padding: 8px 10px 4px 10px;
        margin: auto;
        background-color: rgb(5, 8, 49);
    }
    .id h1{
        color: white;
        text-align: center;
        font-size: 20px;
    }
    .sidenav-items a p{
        font-size: 13px;
    } 
    .sidenav span{
        font-size: 12px;
        /* float: right; */
        margin-right: -16%;
    }
    .real{
        margin-top: 0;
        margin-left: 0;
        /* background-color: white; */
        border-radius: 10px;

    }

    /* dasboard dashboard dashboard dashboard  */
    .activeleft,
    .activeright{
        width: 90%;
        padding: 0;
    }

    
   /* navbar for tab-content navbar for tab-content  */
   .title{
    text-align: left;
    margin-right: 510px;
    }
    .title h1{
        font-size: 22px;
    }

    /* view tasks view tasks view tasks  */
    .head{
        background-color: rgb(103, 6, 6);
        padding: 5px;
        /* padding: 1px; */
    }

    .head h1{
        color: white;
        margin-left: 2%;
        padding: 2px;
        margin-bottom: 4px;
        text-transform: uppercase;
        font-size: 24px;
    }

    .head .fa-sort-down{
        color: white;
        font-size: 30px;
        font-weight: bold;
        background-color: rgba(204, 196, 196, 0.368);
        border-radius: 10px;
        width: 20px;
        height: 20px;
        /* margin-bottom: 8px; */
        padding: 0px 0px 6px 0px;
    }

    #sortdown{
        margin-top: -30px;
        margin-left: 92%;
    }



    .tablebg .head p{
        color: white;
        margin-left: 2%;
        padding: 2px;
        margin-bottom: 4px;
        font-size: 15px;
    }


    .tablebg .semes p{
        color: white;
        margin-left: 2%;
        padding: 2px;
        margin-bottom: 4px;
        font-size: 21px;
        text-transform: uppercase;
    }

    .tablebg .twop{
        margin-left: 85%;
        margin-top: -34px;
    }


    


    /* attendance attendance  */
    #attendance{
        margin-top: 0px;
        border-right: 5px solid  white;
    }

    /* view staff status view staff status  */
    .choose .block{
        text-align: center;
        justify-content: center;
        margin: auto;
        border: 1px solid black;
        border-radius: 8px;
        background-color: rgb(3, 3, 50);
        height: 150px;
        margin-top: 13%;
    }

    .choose .block a{
        text-decoration: none;
        margin: auto;
    }
    .choose .block p{
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 10%;
    }

    /* plus and sortdown design */
    .real .sortdown{
        float: right;
        margin-right: 1%;
        border-radius: 30px;
    }
    .real #plus,
    .real #mplus,
    .real #wplus{
        float: right;
        margin-right: 0%;
    }
    
    
    .fa-plus{
        color: white;
        font-size: 20px;
        font-weight: bold;
        background-color: rgba(204, 196, 196, 0.281);
        border-radius: 25px;
        /* width: 20px; */
        padding: 4px 4px 4px 4px;
        /* margin-top: 2px; */
        /* float: right; */
    }
    
    .fa-sort-down{
        color: white;
        font-size: 30px;
        font-weight: bold;
        background-color: rgba(204, 196, 196, 0.368);
        border-radius: 10px;
        width: 20px;
        height: 20px;
        /* margin-bottom: 8px; */
        padding: 0px 0px 6px 0px;
        /* margin-top: 2px; */
        /* float: right; */
    }

    /* workplan and report form design  */
    .plus .form p{
        text-align: center;
        margin-top: 5px;
        font-size: 15px;
        font-weight: 600;
    }
    .plus .nav-content{
        margin: 1%;
        padding: 5px;
        background-color: white;
        border: 2px solid black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0px 5px 5px 0px rgb(63, 62, 62);
    } 
    .form .form-group .col-5,
    .filled .col-5{
        width: 50%;
    }
    .form .form-group label{
        width: 100%;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium';
        font-size: 14px;
    }


    .form .form-group input,
    .form .form-group textarea,
    .form .form-group select{
        width: 90%;
        height: 50%;
        /* box-shadow: 0px 1px 1px 0px rgb(63, 62, 62); */
        /* border-radius: 3px; */
        /* border: 2px solid black; */
    }
    .form .form-group .radio input{
        width: 30px;
        height: 18%;
    }
    
    .form .submit{
        margin-top: 50px;
    }
    
    .form .submit button{
        width: 100px;
        padding: 5px;
        border-radius: 8px;
    }
    
    .filled,
    .form{
        margin: 2%;
    }
    
    .filled .hero{
        width: 100%;
        text-transform: uppercase;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium';
        font-size: 14px;
    }

    .filled .mco .hero{
        font-size: 13px;
        /* font-weight: 580; */
    }
    
    .filled .heroin{
        width: 80%;
        font-size: 14px;
        /* text-align: justify; */
        /* height: 50%; */
    }


    /* messsages messages messages messsages */
    #messages .title{
        text-align: left;
        margin-right: 10px;
    }
    #messages .navbar .nav-pills{
        /* display: block; */
        /* text-align: end; */
        margin: auto;
        margin-top: -3px;
        margin-right: 5px;
    }

    #messages .nav-pills .nav-item{
        margin-right: 2px;
        
    }

    #messages .nav-pills .nav-item a{
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        padding: 5px;
        margin-left: 0;
    }

    
    
    #sendmsg .select p{
        font-weight: bold;
        font-size: 12px;
        color: black;
    }
    
    #sendmsg .nav-tabs .select{
        margin-top: 5px;
        margin-left: 3px; 
    }
    
    #sendmsg .nav-tabs .one{
        /* margin-left: -15px; */
    }

    #sendmsg .nav-tabs .item{
        margin-left: -35px;
    }
    
    #sendmsg .navbar .nav-tabs{
        padding: 0px;
    }
    
    #sendmsg .navbar .nav-tabs .nav-item{
        justify-content: none;
        margin: none;
        /* background-color: rgb(2, 2, 112); */
        padding: 0px;
        border-radius: 3px;
    }
    #sendmsg .nav-tabs .nav-item a{
        color: black;
        text-decoration: none;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }

    #sendmsg .navbar .nav-tabs .nav-group{
        margin-left: 80px;
        display: block;
        /* margin-right: 1%; */
    }

    
    #viewmsg .msg span,
    #outmsg .msg span{
        font-size: 12px;
        float: right;
        margin-right: 1%;
        margin-top: -4%;
    }

}  